<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <p class="w-full py-2 px-3 font-medium rounded-lg inline-block text-center <%= type == 'alert' ? 'bg-red-50 text-red-500' : 'bg-green-50 text-green-500' %>">
        <%= msg %>
      </p>
    <% end %>

    <main class="container mx-auto p-5 flex h-screen">

      <%= yield %>
    </main>
  </body>
</html>
